:root {
    --principal: #202020;
    --secudaria: #2B2D42;
    --terceira: #EDF2F4;
    --quarta: #242524;
    --forte: #FFD100;
}
form{
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    color: var(--terceira);
}
input, textarea{
    width: 300px;
    padding: 5px 10px 5px 10px;
    outline: 0;
    margin-bottom: 10px;
}
.btn-submit{
    width: 250px;
    background-color: var(--forte);
    border: 1px solid var(--terceira);
    border-radius: 5px;
    color: var(--principal);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.alert{
    width: 100%;
    background-color: var(--terceira);
    border: 1px solid var(--forte);
    border-radius: 5px;
    color: var(--principal);
    padding: 5px 10px 5px 10px;
}
.file{
    background-color: var(--terceira);
    margin: 2px;
}
h2{
    color: var(--terceira);
}
.form_combo{
    display: flex;
    flex-wrap: wrap;
}
.form_loja{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}

details > summary {
    font-size: 20px;
    list-style-type: '';
    color: #fff;
}

details[open] > summary {
    list-style-type: '';
}

details {
    
    border-radius: 0.2rem;
    padding: 0.5rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}